.Todo-list-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 800rem;
  border: 1px solid black;
  min-height: 500rem;
  background-color: skyblue;
  border-radius: 1rem;
}

.todo-form {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  font-size: 2rem;
  gap: 2rem;

}

.todo-form input {
  border: 1px solid rgb(189, 167, 47);
  ;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}



.todo-form button {
  border: 1px solid rgb(189, 167, 47);
  border-radius: 1rem;
  background-color: white;
  padding: 0.3rem;
  height: 4.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
  margin: auto;
}

.todo-form button:hover {
  background-color: black;
  color: white;
  font-weight: 600;
}

.task-div {
  background-color: aliceblue;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem hsla(0, 0%, 0%, 0.26);
  border-radius: 1rem;
}

.todo-text {
  font-size: 2.5rem;
}

.icons {
  display: flex;
  gap: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
  background-color: greenyellow;
}

.hide {
  display: none;
}